/* setting page font size and font family */
* {
    font-size: 16px;
    font-family: 'space mono', sans-serif;
}

/* creates page grid for layout and sets background color */
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #C5E4E7;
    height: 933px;
}

.logo {
    margin: auto;
}

/* calculator section */
.calculator {
   width: 100%;
   height: 80%;
   /* margin-top: 11rem; */
   background-color: #FFFFFF;
   border-top-left-radius: 1.5rem;
   border-top-right-radius: 1.5rem;
}

.bill {
    margin-left: 5%;
}

/* bill input field */
#billInput {
    width: 88%;
    height: 48px;
    margin-left: 5%;
    margin-right: 5%;
}

.peopleLabel {
    margin-left: 5%;
}

/* people input field */
#peopleInput {
    width: 88%;
    height: 48px;
    margin-left: 5%;
    margin-right: 5%;
}

.tipLabel {
    margin: 5%;
}

.tipButtonsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.7rem;
    margin-left: 5%;
    margin-right: 5%;
}